$color_1: red;
$color_2: #000;
$color_3: #fff;
$color_4: #ff2c57;
$font-family_1: "Poppins", sans-serif;

@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: $font-family_1;
	background: none;
}
button {
	cursor: pointer;
}
.container {
	width: 100%;
	max-width: 1220px; // Maksimum genişlik verilib, konteynerin dağılmaması üçün
	margin: 0 auto;
	padding: 0 20px; // Səhifə kənarlarından bir az boşluq
  }

//////////////////////////////////////////







//////////////////////////////////////////////////

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
	background: #222;
	color: #fff;
	padding: 50px 0;
	h2 {
		font-size: 44px;
		font-weight: 600;
		span {
			color: #ff2c57;
			font-size: 48px;
		}
	}
	.footer-links {
		display: flex;
		align-items: center;
		gap: 10px;
		.socialMediaBox {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #fff;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			cursor: pointer;
			transition: 0.3s;
			svg {
				width: 25px;
				height: 25px;
			}
			&:hover {
				border-color: #ff2c57;
				background: #ff2c57;
				img {
					color: #fff;
				}
			}
			p {
				line-height: 0.8px;
			}
		}
	}
}
